
src/Cluster_jobs/Matrix_test_June/matrices_9.zip
src/Cluster_jobs/Matrix_test_June/matrices_8.zip
src/Cluster_jobs/Matrix_test_June/matrices_6.zip
src/Cluster_jobs/Matrix_test_June/matrices_5.zip
src/Cluster_jobs/Matrix_test_June/matrices_18.zip
src/Cluster_jobs/Matrix_test_June/matrices_14.zip
src/Cluster_jobs/Matrix_test_June/matrices_12.zip
src/Cluster_jobs/OutputTests/Matrix_test_June/matrices_12.zip
src/Cluster_jobs/OutputTests/Matrix_test_June/matrices_14.zip
src/Cluster_jobs/OutputTests/Matrix_test_June/matrices_18.zip
src/Cluster_jobs/OutputTests/Matrix_test_June/matrices_5.zip
src/Cluster_jobs/OutputTests/Matrix_test_June/matrices_6.zip
src/Cluster_jobs/OutputTests/Matrix_test_June/matrices_8.zip
src/Cluster_jobs/OutputTests/Matrix_test_June/matrices_9.zip
.Rproj.user
src/Cluster_jobs/pilot_runs/Output/matrices_pilot_null.zip
src/Cluster_jobs/pilot_runs/Output/matrices_recom_pilot.zip
src/Cluster_jobs/pilot_runs/Output/matrices_sel_pilot.zip
src/Cluster_jobs/pilot_runs/Output/Old/matrices_pilot_null.zip
src/Cluster_jobs/pilot_runs/Output/Old/matrices_recom_pilot.zip
src/Cluster_jobs/pilot_runs/Output/Old/matrices_sel_pilot.zip
src/Cluster_jobs/pilot_runs/Output/matrices_pilot_null.zip
src/Cluster_jobs/pilot_runs/Output/matrices_recom_pilot.zip
src/Cluster_jobs/pilot_runs/Output/matrices_sel_pilot.zip
src/Cluster_jobs/pilot_runs/Output/matrices_pilot_null.zip
src/Cluster_jobs/pilot_runs/Output/matrices_recom_pilot.zip
src/Cluster_jobs/pilot_runs/Output/matrices_sel_pilot.zip
*.zip
src/Cluster_jobs/pilot_runs/Output/Old/out_8T_stabsel_muts.csv
src/Cluster_jobs/pilot_runs/Output/Old/out_8T_recom_muts.csv
src/Cluster_jobs/pilot_runs/Output/Old/out_8T_null_muts.csv
src/Cluster_jobs/pilot_runs/Output/Old/out_8T_null_burnin.csv
src/Cluster_jobs/pilot_runs/Output/Old/out_8T_null_chr.csv
src/Cluster_jobs/pilot_runs/Output/Old/out_8T_null_means.csv
src/Cluster_jobs/pilot_runs/Output/Old/out_8T_recom_burnin.csv
src/Cluster_jobs/pilot_runs/Output/Old/out_8T_recom_chr.csv
src/Cluster_jobs/pilot_runs/Output/Old/out_8T_recom_means.csv
src/Cluster_jobs/pilot_runs/Output/Old/out_8T_stabsel_burnin.csv
src/Cluster_jobs/pilot_runs/Output/Old/out_8T_stabsel_chr.csv
src/Cluster_jobs/pilot_runs/Output/Old/out_8T_stabsel_means.csv
src/Cluster_jobs/pilot_runs/Output/out_8T_recom_muts.csv
src/Cluster_jobs/pilot_runs/Output/out_8T_null_muts.csv
src/Cluster_jobs/pilot_runs/Output/out_8T_stabsel_muts.csv
src/Cluster_jobs/pilot_runs/Output/out_8T_recom_muts.csv
src/Cluster_jobs/pilot_runs/Output/out_8T_null_muts.csv
src/Cluster_jobs/pilot_runs/Output/out_8T_stabsel_muts.csv
src/Cluster_jobs/pilot_runs/Output/out_8T_null_muts.csv
src/Cluster_jobs/pilot_runs/Output/out_8T_recom_muts.csv
src/Cluster_jobs/pilot_runs/Output/out_8T_stabsel_muts.csv
src/Cluster_jobs/Speedtests/stabsel8000_speedtest/stabsel_recom_8T100L.slim
src/R/pilot_runs/Pilot_Project/.RData
src/R/pilot_runs/Pilot_Project/.Rhistory
*.csv
src/R/final_runs/Nimrod/Simplified/AIM1/AIM-1_R/.RData
src/R/final_runs/Nimrod/Simplified/AIM1/AIM-1_R/online_work.RData
src/R/final_runs/Nimrod/Simplified/AIM1/JMP/d_null_1024.jmp
src/R/final_runs/Nimrod/Simplified/AIM1/JMP/d_relEig.jmp
src/R/final_runs/Nimrod/Simplified/AIM1/AIM-1_R/d_relG_delmu.RDS
src/R/final_runs/Nimrod/Simplified/AIM1/AIM-1_R/relGV_delmu.RDS
src/R/final_runs/Nimrod/Simplified/AIM1/JMP/d_relEig_within.jmp
src/R/final_runs/Nimrod/Simplified/AIM1/JMP/d_relEig_btwn.jmp
src/R/final_runs/Nimrod/Simplified/AIM1/AIM-1_R/d_relG_btwn_delmu_tin2.RDS
src/R/final_runs/Nimrod/Simplified/AIM1/AIM-1_R/d_relG_btwn_delmu_tin.RDS
src/R/final_runs/Nimrod/Simplified/AIM1/AIM-1_R/d_relG_btwn_delmu_tin.RDS
src/R/final_runs/Nimrod/Simplified/AIM1/AIM-1_R/d_relG_btwn_delmu_tin.RDS
src/R/final_runs/Nimrod/Simplified/AIM1/AIM-1_R/RData_AIM1.RData
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-R/.RData
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-R/.Rhistory
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-R/AIM3-R.Rproj
src/R/final_runs/Nimrod/Simplified/AIM1/AIM-1_R/.Rhistory
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-R/d_sel.jmp
src/SLiM/Aim3/stabsel_recom_8T100L.slim
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-R/aim3_wrkspc.RData
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-R/d_relG_sel_btwn_delmu_tin.RDS
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-R/d_relG_sel_btwn_delmu_tin2.RDS
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-R/sel_online_work.RData
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-R/d_sel_Ellipse.jmp
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/d_sel_mat_delmu.RDS
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/d_relG_sel_btwn_delmu_tin2.RDS
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/d_relG_sel_btwn_delmu_tin.RDS
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/aim3_wrkspc_2.RData
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/AIM3-LessRAM.Rproj
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-R/d_sel_mat_delmu.RDS
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-R/sel_online_work2.RData
src/R/final_runs/Nimrod/Simplified/AIM1/AIM-1_R/.Rhistory
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/.RData
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/.Rhistory
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/d_sel_Ellipse_aov.jmp
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/d_rPCA.jmp
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/d_raw_mat.RDS
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/.Xauthority
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/SupplementaryMaterial R Code.R
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/ls_ET_d.r.RDS
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/ls_ET_pr.pc.RDS
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/ls_ET_pr.r.RDS
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/ls_ET_pc.d.RDS
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/ls_ET_pc.ls.RDS
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/ls_ET_pc.r.RDS
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/ls_ET_pr.d.RDS
src/R/final_runs/Nimrod/Simplified/AIM3/AIM3-LessRAM/ls_ET_pr.ls.RDS
Thesis/Document/~WRL3731.tmp
Thesis/Document/~WRL2285.tmp
Thesis/Document/~WRL1807.tmp
